wsdl/AIR FS26-TY25 AATS WSDL Package Nov 2025_v1.0/ACA-A2A/TY2025-v1.0/MSG/IRS-ACABulkRequestTransmitterStatusDetailMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by ﻿IRS (IRS) -->
<xsd:schema 
xmlns="urn:us:gov:treasury:irs:msg:irstransmitterstatusrequest" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:irs="urn:us:gov:treasury:irs:common" 
xmlns:airty25="urn:us:gov:treasury:irs:ext:aca:air:ty25" 
xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
targetNamespace="urn:us:gov:treasury:irs:msg:irstransmitterstatusrequest" 
elementFormDefault="qualified" 
attributeFormDefault="unqualified" 
version="1.0">
	<!-- ===== Imports ===== -->
	<xsd:import namespace="urn:us:gov:treasury:irs:ext:aca:air:ty25" schemaLocation="../EXT/IRS-EXT-ACA-AIR-1094BC.xsd"/>
	<xsd:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 	schemaLocation="../MSG/IRS-WSTimeStampElementMessage.xsd" />
	<!-- ================================ -->
	<!-- ====== Root Element Declarations ====== -->
	<!-- ================================ -->
	<xsd:element name="ACABulkRequestTransmitterStatusDetailRequest" type="ACABulkRequestTransmitterStatusDetailRequestType"/>
	<xsd:element name="ACABulkRequestTransmitterStatusDetailResponse" type="ACABulkRequestTransmitterStatusDetailResponseType"/>
	<!-- ======================== -->
	<!-- ====== Type Defintions ====== -->
	<!-- ======================== -->
	<xsd:complexType name="ACABulkRequestTransmitterStatusDetailRequestType">
		<xsd:sequence>
			<!-- <xsd:element ref="air6.2:ACABulkRequestTransmitterResponse"/>-->
			<xsd:element ref="airty25:ACABulkReqTrnsmtStsReqGrpDtl"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" fixed="1.0"/>
		<xsd:attributeGroup ref="wsu:commonAtts" />
	</xsd:complexType>
	<xsd:complexType name="ACABulkRequestTransmitterStatusDetailResponseType">
		<xsd:sequence>
			<xsd:element ref="airty25:ACABulkRequestTransmitterResponse"/>
			<xsd:element ref="airty25:ACABulkReqTrnsmtStsRespGrpDtl"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" fixed="1.0"/>
	</xsd:complexType>
	<!-- ================================== -->
	<!-- ===== Root Element Declarations ===== -->
	<!-- ================================== -->
	<xsd:element name="ACABusinessHeader" type="airty25:ACABulkBusinessHeaderRequestType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>ACA (Affordable Care Act) Business Header Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-25</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Message payload for the SOA service that obtains information for the ACA business header detail</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
